{% extends 'base.html' %}

{% block content %}
<div class="container">
<h1>Listado de Productos:</h1>
<div class="row">
	<div class="col">
		<a href="{% url 'nuevo' %}" class="btn btn-primary">Agregar</a>
		<!-- Example single danger button -->
		<div class="btn-group">
		  <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    Vista
		  </button>
		  <div class="dropdown-menu">
		    <a class="dropdown-item" href="{% url 'listado' %}">Vista de Tabla</a>
		    <a class="dropdown-item" href="{% url 'cards' %}">Vista de Cuadricula</a>
		  </div>
		</div>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-12">	
	
		<table class="table">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Categoria</th>
					<th>Descripcion</th>
					<th>Disponible</th>
					<th>Precio</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for prod in lista %}
				<tr>
					<td>{{ prod.nombre }}</td>
					<td>{{ prod.categoria }}</td>
					<td>{{ prod.descripcion }}</td>
					<td class="text-center">{{ prod.cantidad }}</td>
					<td class="text-center">${{ prod.precio }} </td>
					<td>
						<div class="dropdown">
						  <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						    Acciones
						  </button>
						  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						    <a class="dropdown-item" href="{% url 'detail' prod.id %}">Ver Detalle</a>
						    <a class="dropdown-item" href="{% url 'modificar' prod.id %}">Editar</a>
						    <a class="dropdown-item" href="{% url 'eliminar' prod.id %}">Eliminar here</a>
						  </div>
						</div>						
					</td>
				</tr>
				{% endfor %}	
			</tbody>
		</table>
	</div>
</div>
</div>
{% endblock %}